.root {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 1em auto;
}

.name {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.data {
    list-style: none;
    margin: 1.5em 1.5% 1em ;
    padding: 0;   
}

.data > li {
    background: #fff;
    padding: 1em;
    margin: 0 0 .25em;
    border: 1px solid #ddd;
    color: #777;
    border-radius: 5px;
}